ion-content {
    background: linear-gradient(to right, #1488cc, #2b32b2); 
}

h2 {
  text-align:start;
  color: floralwhite
}

ion-label {
  color: floralwhite
}

p {
  text-align:justify;
  color: floralwhite
}