img {
    max-width:3;
    height: 4;
    display:block;
    margin-left: auto;
    margin-right: auto;
}


ion-content {
    background: linear-gradient(to right, #1488cc, #2b32b2); 
}

h2 {
  text-align: center;
  color: aliceblue
}

h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: aliceblue
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: aliceblue
}